{% extends 'base.html'%}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
    <h2>{{product.name}}</h2>
    <small>{{product.created}}</small><br/>
    <p>{{product.price}}﷼</p><br/>
    <img src="{{ product.image.url }}" style="width: 350px;">
    <p>{{product.describtion}}</p><br><br>

    <form action="{% url 'orders:cart_add' product.id %}" method="post">
        {{form}}
        {% csrf_token %}
        <input type="submit" value="add to cart">
    </form>
{% endblock %}